.postTableDiv {
  width: 80%;
  margin: auto;
}

.showMoreLessButton {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}

.tbodyTDSpan {
  white-space: pre-line;
}

.postTableTh {
  width: 8%;
}

.postTableTh:hover {
  background-color: rgb(223, 223, 223);
}

.pagination {
  max-width: 200px;
  width: 40vw;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.pagination li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination a {
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: rgb(46, 46, 46);
  font-weight: 600;
}

.pagination a:hover {
  border: none;
  background-color: rgb(156, 156, 156);
  cursor: pointer;
}

.active a {
  border: none;
  background-color: rgb(156, 156, 156);
}

.loader {
  height: 70px;
  width: 70px;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .pagination a {
    padding: 6px;
  }

  .postTableDiv {
    width: 93%;
  }

  .postTable thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    text-align: right;
  }

  .postTable tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .postTable td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    word-break: break-word;
    text-align: left;
  }

  .postTable td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .postTable td:last-child {
    border-bottom: 0;
  }
}
