.postTableDiv {
  width: 80%;
  margin: auto;
}

.tbodyTDSpan {
  white-space: pre-line;
}

.postTableTh {
  cursor: pointer;
  width: 8%;
}

.postTableTh:hover {
  background-color: rgb(223, 223, 223);
}

@media screen and (max-width: 500px) {
  .postTableDiv {
    width: 93%;
  }

  .postTable thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    text-align: right;
  }

  .postTable tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .postTable td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    word-break: break-word;
    text-align: left;
  }

  .postTable td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .postTable td:last-child {
    border-bottom: 0;
  }
}
